<h1>Edit user</h1>
<%= form_for @user, :html => {:multipart => true} do |f| %>
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
