<table class="profile" summary="Profile information">
	<td class="main">
		<table>
			<td><%= link_to avatar_for(parent, :medium), parent %></td>
			<td><h1><%= parent.name %></h1></td>
			<td><%= parent[:description] if parent.class.to_s.downcase == 'organization' %></td>
			<td><%= mail_to parent[:email] if parent.class.to_s.downcase == 'user' %></td>
			<td><%= link_to 'Profile', profile_user_path(parent) if parent.class.to_s.downcase == 'user' %></td>
		</table>
			<span><%= render 'users/follow_form' if parent.class.to_s.downcase == 'user' %></span>
			<span><%= render 'organizations/join_quit_form' if parent.class.to_s.downcase == 'organization' %></span>
		<% unless children.empty? %>
			<%= will_paginate children, :param_name => children.first.class.to_s.downcase + '_page' %>
			<table class="users">
				<% if parent.class.to_s.downcase == 'organization' %>
					<%= render :partial => 'users/user', :locals => {:show_form => true}, :collection => children %>
				<% elsif parent.class.to_s.downcase == 'user' and children.first.class.to_s.downcase == 'organization' %>
					<%= render :partial => 'users/user', :locals => {:user_club => true}, :collection => children %>
				<% else %>
					<%= render children %>
				<% end %>
			</table>
			<%= will_paginate children, :param_name => children.first.class.to_s.downcase + '_page' %>
		<% end %>
		<% if new != '' and signed_in? and current_user.admin? %>
			<%= link_to 'New ' + new, new_path %> |
		<% end %>
		<%= link_to 'Back', back %>
	</td>
	<% if signed_in? %>
		<td class="side round">
			<table>
				<%= render :partial =>'shared/user_info_feeds', :feed_items => feed_items, :user => user, :micropost => micropost %>
			</table>
		</td>
	<% end %>
</table>
