<tr class='content_row'>
	<td class="image_column">
		<%= link_to tag('img', :src => 'https://graph.facebook.com/' << post['from']['id'] << '/picture'), 'http://facebook.com/' << post['from']['id'] %>
	</td>
	<td class="content_column">
		<%= link_to post['from']['name'], 'http://facebook.com/' << post['from']['id'] %><br \>
		<table class='art_message'>
			<% if post['message'] %>
				<td>
					<% post['message'].split("\n").each do |msg| %>
						<% if msg != '' %><%= msg %><br \><% end %>
					<% end %>
				</td>
			<% end %>  
		</table>
		<table class='abstract'>
			<td>
				<%= link_to tag('img', :src => post['picture']), post['link'] %>
			</td>
			<td>
				<%= link_to post['name'], post['link'] %> <br \>
				<%= post['caption'] %><br \>
				<%= post['description'] %>
			</td>
		</table>
	</td>
</tr>

