<th>亲爱的学生学者：</th>
<tr>
	<td style='padding: 0 33px'>
		<p>你们好！我是马里兰大学中国学生学者联谊会（UMCP CSSA）2012-2013年度主席，张宇嘉。在这里我谨代表UMCP-CSSA向各位老师和同学致以最热烈的欢迎！并希望在接下来的时间里，您能充分作好留学生活的准备工作，尽快适应新的学习生活环境。</p>
		<p>UMCP CSSA（Chinese Students & Scholars Association at UMCP）是一个志愿型团体，由现在及曾经在UMCP工作学习的中国学生学者组成的。作为马里兰大学第一大学生组织,我们的主要工作就是增进大家之间的联系，组织大家参加各种活动，为大家提供各种服务，通过大家的努力，营造一个温馨和谐的大家庭，为大家提供一个更好的学习生活环境。</p>
		<p>我们学生会将会尽最大努力安排大家的接机问题。为了答谢志愿者，学生会将代志愿者收取最基本的汽油费（BWI和DCA接机为15刀，IAD接机为20刀），具体操作细节学生会近期发出。</p>
		<p>有关接机问题，从7月15日起至8月30号，学生会将乐意为新生提供临时有偿住宿。然而，由于床位有限，我们会建议各位自备睡袋；同时，我们会采取welcome house客满停收的方式以保证更好地居住环境。因此，我们强烈建议大家在来美之前找好临时住所。此举方便他人也方便自我。</p>
		<p>需要接机和welcome house服务的学生学者，请填写: <%= link_to '新生注册表', cssa_services_path %></p>
		<p>在这里我们也要特别感谢一直帮助我们的各个教会。大家不惜百忙之中抽出时间接机和提供志愿服务。这里要感谢CSSA工作人员, Chinese Christian Church of Greater Washington, D.C, Grace Fellowship, China-US Christian Church, Maryland Chinese Bible Study Group, Chinese Bible Church of Maryland 和Christian on Campus.</p>
		<p>
			<div>有用连接: </div>
			<div style='margin-left: 30px'><%= link_to '学生会bbs (房源家具等信息平台)',  'http://www.umcpcssa.org/home.php', target: '_blank' %></div>
			<div style='margin-left: 30px'><%= link_to '新生注册', cssa_services_path %></div>
			<div style='margin-left: 30px'><%= link_to '新生手册', handbook_path %></div>
			<div style='margin-left: 30px'><%= link_to '人人公共主页', 'http://page.renren.com/600681205', target: '_blank' %></div>
		</p>
		<p>QQ groups: <%= link_to('225922485', 'http://wpa.qq.com/msgrd?V=1&Uin=225922485') + ', ' + link_to('195760144', 'http://wpa.qq.com/msgrd?V=1&Uin=195760144') %></p>
		<p>如果您有任何问题,请首先阅读<%= link_to '新生注册', cssa_services_path %>. 新生手册中没有答案的,您可以在<%= link_to '学生会BBS',  'http://www.umcpcssa.org/bbs', target: '_blank' %></div> 或者<%= link_to 'CSSA人人公共主页', 'http://page.renren.com/600681205', target: '_blank' %>上贴出您的问题。</p>
	</td>
</tr>
<tr>
	<td style='font-weight: bold'>
		<div>主席：张宇嘉</div>
		<div>05/30/2012</div>
	</td>
</tr>
