<th>Dear coming students and scholars,</th>
<tr>
	<td style='padding: 0 40px'>
		<p>Congratulations on being admitted by University of Maryland, College Park (UMCP)!</p>
		<p>I am Yujia Zhang, current President of UMCP Chinese Students and Scholars Association (CSSA).</p>
		<p>UMCP CSSA is a non- profit organization. Our committee is made of senior UMCP Chinese students volunteers who have the passion to help new comers. All of us were helped by CSSA when we first came to the US. Therefore, we sincerely want to pass on the tradition of helping each other generation by generation. </p>
		<p>Being the largest student organization in UMCP, we will try to arrange airport pickup service and temporary living places for the new comers. The airport pickup service will be charged 15-20 dollars due to the high expense of gas fee (15 dollars for BWI and DCA, 20 dollars for IAD).</p>
		<p>From July 15 to August 30, we would be glad to provide temporary housing for the newcomers. However, we have limited bedrooms; a sleeping bag is highly recommended to bring over. To better serve those who are in real need, to ensure a better living condition, and to encourage you to find a living place as soon as possible, we will charge the temporary housing before you check in. If Welcome House is full, we are unable to check you in unless someone leaves. </p>
		<p>In order to get airport pickup and temporary housing services from CSSA, please fill in the form: <%= link_to 'Incoming student registration', cssa_services_path %></p>
		<p>The airport pickup and temporary housing services are contributed by CSSA, Chinese Christian Church of Greater Washington, D.C, Grace Fellowship, China-US Christian Church, Maryland Chinese Bible Study Group, Chinese Bible Church of Maryland and Christian on Campus. </p>
		<p>
			<div>Useful links: </div>
			<div style='margin-left: 30px'><%= link_to 'Our Website/BBS (housing etc)',  'http://www.umcpcssa.org/bbs', target: '_blank' %></div>
			<div style='margin-left: 30px'><%= link_to 'New student registration', cssa_services_path %></div>
			<div style='margin-left: 30px'><%= link_to 'Handbook', handbook_path %></div>
			<div style='margin-left: 30px'><%= link_to 'RenRen page', 'http://page.renren.com/600681205', target: '_blank' %></div>
		</p>
		<p>QQ groups: <%= link_to('225922485', 'http://wpa.qq.com/msgrd?V=1&Uin=225922485') + ', ' + link_to('195760144', 'http://wpa.qq.com/msgrd?V=1&Uin=195760144') %></p>
		<p>If you have any questions, please read <%= link_to 'Incoming Students Resource Handbook', handbook_path %> first.
		<br />For more questions, please post your questions either on <%= link_to 'UMCP CSSA BBS', 'http://www.umcpcssa.org/bbs', target: '_blank' %> or on our <%= link_to 'CSSA RenRen page', 'http://page.renren.com/600681205', target: '_blank' %>.</p>
	</td>
</tr>
<tr>
	<td style='font-weight: bold'>
		<div>Yujia Zhang</div>
		<div>President of UMCP CSSA</div> 
		<div>05/29/2012</div>
	</td>
</tr>
