<ul class="forum_links round">	
	<span> Forum links </span>
	<li><%= link_to "Questions & Answers", 'http://www.umcpcssa.org/bbs/viewforum.php?f=62', :target=>"_blank" %></li>
	<li><%= link_to "Housing", 'http://www.umcpcssa.org/bbs/viewforum.php?f=62', :target=>"_blank" %></li>
	<li><%= link_to "Sales", 'http://www.umcpcssa.org/bbs/viewforum.php?f=62', :target=>"_blank" %></li>
	<li><%= link_to "Activities", 'http://www.umcpcssa.org/bbs/viewforum.php?f=62', :target=>"_blank" %></li>
</ul>
<ul class="social_links round">
	<span> Find us on </span><br />
	<%= image_tag("facebook.png", :size=>"50x50", :alt=>"Marsa Alam") %>
	<%= image_tag("renren.png", :size=>"50x50", :alt=>"Marsa Alam") %>
	<%= image_tag("weibo.png", :size=>"50x50", :alt=>"Marsa Alam") %>
	<%= image_tag("twitter.png", :size=>"50x50", :alt=>"Marsa Alam") %>
	<%= image_tag("youtube.png", :size=>"50x50", :alt=>"Marsa Alam") %>
</ul>
