<div class="row first_row">
	<div class="row_left">
		<ul id="slideshow">
			<li><%= image_tag("1.jpg", :size=>"620x320", :alt=>"Marsa Alam") %></li>
			<li><%= image_tag("2.jpg", :size=>"620x320", :alt=>"Marsa Alam") %></li>
			<li><%= image_tag("3.jpg", :size=>"620x320", :alt=>"Marsa Alam") %></li>
			<li><%= image_tag("4.jpg", :size=>"620x320", :alt=>"Marsa Alam") %></li>
	    </ul>
		<span class="arrow previous"></span>
		<span class="arrow next"></span>
	</div>
	<div class="row_right">
		<% if signed_in? %> <!-- if not signed in, show sign in -->
			<table>
				<tr class="home_sidebar round">
					<%= render 'shared/user_info' %>
					<span>Member since: </span>
					<%= current_user[:created_at].strftime("%Y-%b-%d") %><br />
				</tr>
				<tr class="main">
					<h3 class="micropost">What's up?</h3>
					<%= render 'shared/micropost_form' %>
					<%= render 'shared/feed' %>
				</tr>
			</table>
		<% else %> <!-- if not signed in, show profile -->
			<div id="sign_in">
				<%= link_to "Sign in", sign_in_path, :class => "sign_in_button round"%>
			</div>
		<% end %>
	
		<div id="calendar">
			<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=175&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=umcpcssa000%40gmail.com&amp;color=%235F6B02&amp;ctz=America%2FNew_York" style=" border-width:0 " width="325" height="200" frameborder="0" scrolling="no"></iframe>	
		</div>
	</div>
</div>
<div class="row" id="second_row">
	<div id="links">
		
	</div>
	<div id="social">
	
	</div>
</div>
