<header>
	<div class="inner">
		<%= image_tag("logo.jpg", :alt => "Chinese Student and Scholar Association of UMCP", :class => "round") %>
		<nav class="round"  id="site-nav">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Forum", '#' %></li>
				<li><%= link_to "New Students", '#' %></li>
				<li><%= link_to "Clubs", club_path %></li>
				<li><%= link_to "Art Troupe", '#' %></li>
				<li><%= link_to "Links", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
