<header>
	<div class="inner">
		<%= link_to image_tag("logo.jpg", :alt => "Chinese Student and Scholar Association of UMCP", :class => "round", :mouseover => "myfav.png", :width=>'50'), root_path %>
		<nav class="round"  id="site-nav">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Forum", '#' %></li>
				<li><%= link_to "New Students", '#' %></li>
				<li><%= link_to "Clubs", club_path %></li>
				<li><%= link_to "Art Troupe", '#' %></li>
				<li><%= link_to "Links", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
